<% unless (current_user==nil)
		admin_departments=current_user.admin_departments 
		if ( admin_departments.size > 0 )%>
			<div class="well sidebar-nav">
		    <h3>您管理的部门</h3>
		    <ul class="nav nav-list">
		      <!-- <li class="nav-header">您管理的部门</li> -->
		      <%admin_departments.each do |department|%>
		      	<li><%= link_to department.name, "/homes/department/#{department.id}"  %></li>
		      <%end%>
		    </ul>
		 	</div>
		<% end%>
<% end%>


